@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

#footerfont {
    font-family: 'PT Sans', sans-serif;
}

  .liquido {
    position: relative;
    text-align: center;
    width: 120px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 15;
    margin: 10;
    display: flex;
    font-family: 'PT Sans', sans-serif;
    border-radius: 40px;
}
  
  .liquido span {
    text-align: center;
    padding-left: 9px;
    z-index: 1;
    font-size: 1.0rem;
    letter-spacing: 1px;
    color: aliceblue;
    
  }
  
  .liquido .liquid {
    position: absolute;
    left: 0;
    top: -80px;
    width: 200px;
    height: 200px;
    background: #278ea5;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
  
.liquido:hover .liquid {
  top: -120px;
}

  .liquido .liquid::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }
  
  .liquido .liquid::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }


  